@keyframes turnCardIn {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

@keyframes turnCardOff {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}