
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'ubuntu', sans-serif;
}

.backgroundPrez {
  background: linear-gradient(
    0deg,
    #e7f8fe 35%,
    #00ff6240 100%
  );
}
.backgroundServices {
  background-image: url(./assets/background1.jpg);
  border-radius: 100% 100% 100% 100% / 20% 0% 20% 0%;
}

h1 {
    margin-top: 0;
    font-size: 2.5rem;
}